@model KnowledgeSpace.ViewModels.Systems.UserVm
@using Microsoft.Extensions.Configuration

@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "_SubLayout";
}
@inject IConfiguration Configuration
<div class="span8 page-content">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a><span class="divider">/</span></li>
        <li class="active">Thông tin cá nhân</li>
    </ul>

    <article class=" type-post format-standard hentry clearfix">

        <h1 class="post-title"><a href="#">@Model.UserName</a></h1>
        <table class="table table-bordered">
            <tr>
                <td>Họ tên</td>
                <td>@Model.FirstName @Model.LastName</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Tài khoản</td>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td>Số điện thoại</td>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="btn btn-success" target="_blank" href="@Configuration["BackendApiUrl"]/Account/Manage">Chỉnh sửa</a>
                </td>
            </tr>
        </table>
    </article>
</div>